/* http://meyerweb.com/eric/tools/css/reset/ 
	 v2.0 | 20110126
	 License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/*** TRANSITIONS ***/
a, button, button:before, fieldset, figure, img, input, label, li, span, textarea {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

/* text selection */
::selection {
	background:#FFE666;
	color:#555;
}
::-moz-selection {
	background:#FFE666;
	color:#555;
}
::-webkit-selection {
	background:#FFE666;
	color:#555;
}
header, #downloads {
	cursor:default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* LAYOUT STYLES */
body {
	font-size: 1.1em;
	line-height: 1.8; 
	background: #e7e7e7 url(../images/body-bg.png) 0 0 repeat;
	font-family: Roboto, Open Sans, 'Helvetica Neue', Helvetica, Arial, serif;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	color: #444;
}

a {
	color: #d5000d;
	text-shadow:none;
}
a:hover {
	background-color: #d5000d;
	color:#F0F0F0;
}

header {
	padding-top: 35px;
	padding-bottom: 25px;
}

header nav {
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:stretch;
	align-content:center;
	margin:1em 0;
}
header nav a {
	flex-grow:1;
	border-right:1px solid #BBB;
	border-radius:2px;
	display:block;
	font-size:0.8em;
	font-weight:700;
	padding:0.2em 0;
	text-align:center;
	text-transform:uppercase;
}
header nav a:last-of-type { border:0; }
header nav a:hover { border-color:#d5000d; }

header h1 {
	/*font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;*/
	font-family:'Adelle-Regular', 'Adelle Regular', 'Adelle', 'Roboto';
	font-weight: 900;
	letter-spacing: -1px;
	font-size: 3em;
	color: #303030;
	line-height: 1.2;
}
header h2 {
	letter-spacing: -1px;
	font-size: 1.5em;
	color: #aaa;
	font-weight: normal;
	line-height: 1.3;
}

#container {
	background: transparent url(../images/highlight-bg.jpg) 50% 0 no-repeat;
	min-height: 595px;
}

.inner {
	width: 800px;
	margin: 0 auto;
}

#container .inner img {
	height: auto;
	max-width: 100%;
}

#downloads {
	margin-bottom: 40px;
	padding:2em 0;
	text-align:center;
}

a.button {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 0.1em 0 rgba(255, 255, 255, 0.5);
  display: inline-block;
  outline: none;
  cursor: pointer;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 3px;
  border: 1px solid;
  border-color: #bbbbbb #a2a2a2 #888888;
  background-color: #eeeeee;
  background-image: -moz-linear-gradient(#eeeeee, #d4d4d4);
  background-image: -webkit-linear-gradient(#eeeeee, #d4d4d4);
  background-image: linear-gradient(#eeeeee, #d4d4d4);
  -moz-box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.1), 0 0.1em 0.2em rgba(0, 0, 0, 0.3), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
  -webkit-box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.1), 0 0.1em 0.2em rgba(0, 0, 0, 0.3), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.1), 0 0.1em 0.2em rgba(0, 0, 0, 0.3), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  -webkit-transition: all 100ms;
  transition: all 100ms;

  margin:0 3em 1em 0;
  padding:0.4em 0;
  position:relative;
  text-align:center;
  width:15em;
}
a.button:hover {
  -moz-box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.4), 0 0.1em 0.2em rgba(0, 0, 0, 0.4), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
  -webkit-box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.4), 0 0.1em 0.2em rgba(0, 0, 0, 0.4), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.4), 0 0.1em 0.2em rgba(0, 0, 0, 0.4), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
}
a.button:active {
  border-color: #a2a2a2 #bbbbbb #eeeeee;
  background-image: -moz-linear-gradient(#e1e1e1, #eeeeee);
  background-image: -webkit-linear-gradient(#e1e1e1, #eeeeee);
  background-image: linear-gradient(#e1e1e1, #eeeeee);
  -moz-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset;
  -moz-transition: all 10ms;
  -o-transition: all 10ms;
  -webkit-transition: all 10ms;
  transition: all 10ms;
  top:0.1em;
  /*color:#666;*/
}
a.button:active img, a.button:active span { opacity:0.75; }

a.button img {
	margin-right: 1em;
	position:relative;
	top:4px;
}
a.button img.noMoveDown { top:0; }
a.button span {
	text-shadow:0 1px 0 rgba(255,255,255,0.8);
}

code, pre {
	font-family: Consolas, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
	color: #222;
	margin-bottom: 30px;
	font-size: 0.9em;
}

code {
	background-color: #f2f2f2;
	border: solid 1px #ddd;
	padding: 0.2em 0.4em;
}

pre {
	padding: 20px;
	background: #303030;
	color: #f2f2f2;
	text-shadow: none;
	overflow: auto;
}
pre code {
	color: #f2f2f2;
	background-color: #303030;
	border: none;
	padding: 0;
}

ul, ol, dl {
	margin-bottom: 20px;
}


/* COMMON STYLES */

hr {
	height: 1px;
	line-height: 1px;
	margin:3em 0;
	border: none;
	background: transparent url('../images/hr.png') 50% 0 no-repeat;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

table {
	width: 100%;
	border: 1px solid #ebebeb;
}

th {
	font-weight: 500;
}

td {
	border: 1px solid #ebebeb;
	text-align: center; 
	font-weight: 300;
}

form {
	background: #f2f2f2;
	padding: 20px;
	
}


/* GENERAL ELEMENT TYPE STYLES */

h1 {
	font-size: 2em;
} 

h2 {
	font-size: 1.4em;
	font-weight: bold;
	color: #303030;
	margin-bottom: 8px;
} 

h3 {
	border-bottom: 1px solid #d5000d;
	color: #d5000d;
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 0.5em;
} 
 
h4 {
	font-size: 1em;
	color: #303030;
	font-weight: bold;
} 

h5 {
	font-size: 1em;
	color: #303030;
} 

h6 {
	font-size: .8em;
	color: #303030;
} 

p {
	font-weight: 300;
	margin:1.5em 0;
}

p.noMargin { margin:0; }

p.warning-1 {
	background:#FFF689;
	background:repeating-linear-gradient(
		-45deg,
		rgba(255, 241, 132, 1),
		rgba(255, 241, 132, 1) 5px,
		rgba(255, 246, 137, 1.0) 5px,
		rgba(255, 246, 137, 1.0) 10px
	);
	border:1px dashed #CCC;
	border-radius:2px; 
	font-style:italic;
	opacity:0.9;
	padding:10px;
}

p.warning-2 {
	background: #ddd;
	border: 1px solid #c5c5c5;
	border-radius: 2px;
	font-style:italic;
	padding: 0.5em 1em;
}
 
a {
	text-decoration: none;
}

p a {
	font-weight: 400;
}

span.term {
	display:inline-block;
	font-weight:700;
	min-width:12em;
}
span.definition {
	background: rgba(0,255,102,0.1);
	border: 1px solid rgba(55, 161, 31, 0.5);
	border-radius: 2px;
	font-size: 0.9em;
	font-family: Consolas;
	padding: 0.2em 0.4em;
}

blockquote {
	font-size: 1.6em;
	border-left: 10px solid #e9e9e9;
	margin-bottom: 20px;
	padding: 0 0 0 30px;
}

ul li {
	border-bottom: 1px solid #ccc;
	list-style:disc outside;
	margin-left:20px;
	padding:0.3em 0 0.3em 0.6em;
}
ul li:last-of-type {
	border-bottom:0;
}

ol li {
	list-style:decimal outside;
	margin-left:3px;
}

dl dt {
	color: #303030;
}

footer {
	background: transparent url('../images/hr.png') 0 0 no-repeat;
	margin-top: 40px;
	padding-top: 20px;
	padding-bottom: 30px;
	font-size: 13px;
	color: #aaa;
}

footer a {
	color: #666;
}
footer a:hover {
	color: #444;
}

/* MISC */
.clearfix:after {
	clear: both;
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media (max-width: 959px) {
	header nav a { font-size:12px; }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media (min-width: 817px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media (max-width: 816px) {
	.inner {
		width:100%;
		margin:0 auto;
		padding:0 1em;
	}

	header {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	header h1 { font-size:2em; }
	header h2 { font-size:1em; }
	header nav { display:none; }
	/* /
	#download-zip, #download-modhoster, #download-fs-uk {
		display: none;
	}
	/* */
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media (max-width: 479px) {}
